/* Global styles */

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* Layout */
:root {
  --primary: #1aac83; /* Primary color */
  --error: #e7195a; /* Error color */
}
body {
  background: #f1f1f1; /* Body background color */
  margin: 0;
  font-family: "Poppins"; /* Default font family */
}

/* Navbar styles */
header {
  background: #fff; /* Navbar background color */
  display: flex;
  justify-content: center; /* Center the content horizontally */
  padding: 1px 1px; /* Add padding for some space around */
}

header .container {
  max-width: 1400px;
  width: 100%; /* Make the container take the full width */
  display: flex;
  justify-content: center; /* Center the container's content */
  align-items: center; /* Center items vertically */
}

header a {
  color: #333; /* Navbar link color */
  text-decoration: none;
}

/* Page layout styles */
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* Homepage styles */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

/* Display component styles */
.workout-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* Form styles */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

/* AddPass component styles */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.h-screen {
  height: 100vh;
}
.text-center {
  text-align: center;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.font-bold {
  font-weight: 700;
}
.text-gray-800 {
  color: #2d3748;
}
.mb-4 {
  margin-bottom: 1rem;
}
.bg-white {
  background-color: #fff;
}
.border {
  border-width: 1px;
}
.border-gray-300 {
  border-color: #e2e8f0;
}
.rounded-full {
  border-radius: 9999px;
}
.w-16 {
  width: 4rem;
}
.h-16 {
  height: 4rem;
}
.focus\:outline-none:focus {
  outline: 0;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}
