/* Global styles */

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* Layout */
:root {
  --primary: #000000; /* Primary color */
  --error: #e7195a; /* Error color */
}
body {
  background: #f1f1f1; /* Body background color */
  margin: 0;
  font-family: "Poppins", sans-serif; /* Default font family */
}

/* Navbar styles */
header {
  background: #fff; /* Navbar background color */
  display: flex;
  justify-content: center; /* Center the content horizontally */
  padding: 1px 1px; /* Add padding for some space around */
}

header .container {
  max-width: 1400px;
  width: 100%; /* Make the container take the full width */
  display: flex;
  justify-content: center; /* Center the container's content */
  align-items: center; /* Center items vertically */
}

header a {
  color: #333; /* Navbar link color */
  text-decoration: none;
}

/* Page layout styles */
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* Homepage styles */
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.workout-details {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  width: 100%;
  background: #ffffff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* new workout form */
.create {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  max-width: 600px;
  margin: 20px auto;
}
.create h3 {
  margin-bottom: 20px;
  color: var(--primary);
}
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 5px solid var(--error);
}
